body::before {
  background-size:cover;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: fixed; 
}

.container{
  max-height: 100%;
  max-width: 100%;
  background-image: url(img/wood-background.jpg) repeat;
}